@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --r-globalnav-color-white: rgba(255, 255, 255, .8);
    --r-globalnav-color-black: #151516;
    font-family: 'SF Pro Display', sans-serif;                                        
}

#globalnav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--r-globalnav-color-black);
}

#globalnavchild{
    color: var(--r-globalnav-color-white);
    opacity: .80;
    font-size: .8rem;
    background: var(--r-globalnav-color-black);
    margin: 0 18px;
    text-decoration: none;
}

/* change color of svg to black */
.invert-svg{
    filter: invert(100%);
    margin-top: 3px;
}

/* local nav */
#local-nav{
    padding: 20px;
    background-color: var(--r-globalnav-color-black);
    color: white;
    display: flex;
    justify-content: space-around;
}

.local-nav-menu > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 10px;
}

.local-nav-menu > ul > li {
    opacity: .9;
    margin: 0 10px;
    align-items: center;
}

#local-nav-btn{
    color: white;
    background: #0071E3;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: none;
}

#local-nav-small-title{
    font-size: 0.85rem;
    opacity: .65;
}
#local-nav-big-title{
    font-weight: bolder;
    font-size: 1.3rem;
}

/* hero img part */
#hero-media{
    background-color: black;
    overflow: clip;
}
#hero-img{
    margin: 110px 0 0 33vh;
    overflow: hidden;
}
/* hero txt part */
#hero-text{
    background: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#hero-eyebrow{
    padding-top: 50px;
    color: white;
}

#hero-headline{
    color: var(--r-globalnav-color-white);
    font-size: 5rem;
}

#hero-copy{
    color: var(--r-globalnav-color-white);
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: .004em;
    margin: 0 17%;
}

#hero-callout{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#hero-callout-txt{
    color: var(--r-globalnav-color-white);
    font-size: 1.8rem;
}

/* hero price part */
#hero-cta-list{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-top: 32px;
    list-style-type: none;
    margin-left: 0;
    background-color: black;
    font-size: 1.75rem;
    color: #f5f5f7;
}

.hero-cta-item > a{
    text-decoration: none;
    color: #f5f5f7;
    
}
.hero-cta-item > a:hover{
    text-decoration: underline;
}

.hero-cta-item:nth-child(2)::before{
    content: "|";
    padding: 0 30px;
}
.hero-cta-item:nth-child(2)::after{
    padding-left: 4px;
    content: "\003E";
}

/* */
